body {
  background-color: #ebede6;
  color: #593d2c;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-width: 400px;
  position: relative;
}

.form-control {
  border-color: #399f3a;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: #0e5c2d;
  box-shadow: none;
}

.form-group label {
  font-weight: 500;
}

.btn-primary {
  background-color: #399f3a;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0e5c2d;
  color: #ffffff;
}

.register-link {
  color: #399f3a;
}

.register-link:hover {
  text-decoration: underline;
}

.form-header {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0e5c2d;
  font-weight: 600;
  margin-bottom: 20px;
}

.back-button img {
  margin-right: 8px;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
